<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="statics/favico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="statics/favico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="statics/favico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="statics/favico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="statics/favico/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="statics/favico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="statics/favico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="statics/favico/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="statics/favico/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="statics/favico/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="statics/favico/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="statics/favico/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="statics/favico/favicon-128.png" sizes="128x128" />
    <link rel="icon" type="image/ico"  href="statics/favico/favicon.ico" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="statics/favico/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="statics/favico/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="statics/favico/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="statics/favico/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="statics/favico/mstile-310x310.png" />

    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
